<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anemon</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="clearfix">
        <div id="main" class="float-left">
            <div class="nav-search">
                <div class="search-bar">
                    <form action=""><input type="text" placeholder="Search"></form>
                </div>
                <div class="nav">
                    <div class="extension">
                        <a href="#">
                            <img src="../imgs/icon/list.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="../imgs/icon/symbol.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../imgs/icon/book-alt.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="../imgs/icon/plus.svg" alt="">
                        </a>
                    </div>
                    <div class="more">
                        <div class="title">
                            <h2>DOCUMENTATION</h2>
                        </div>
                        <div class="info">
                            <ul class="list">
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                                <li class="each">
                                    <a href="#">
                                        <div class="wrapper"><span class="name">Android</span></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="display" class="float-right"></div>
    </div>
</body>

</html>