/node_modules
/public/hot
/public/storage/app
/public/storage/framework
/public/storage/logs
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.DS_Store
/anemone.pngZone.Identifier